<% if @current_user %>
    <%= render 'posts/form', post: Post.new %>
		<img class="cheetah" src="http://orig03.deviantart.net/4c91/f/2012/234/3/3/cheetah_runcycle_by_lui_ysia-d5c1833.gif">
<% else %>
  <a href="/signin">
    <div class="homepage">
      <div class="hometext">please sign in <br><img src="http://orig03.deviantart.net/4c91/f/2012/234/3/3/cheetah_runcycle_by_lui_ysia-d5c1833.gif"></div>
    </div>
  </a>
<% end %>
