/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(45deg, peachpuff, lightpink);
}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 5px 10%;
}
nav {
  background-color: pink;
  width: 80%;
  margin: auto;
  height: 30px;
}
.topbox {
  background-image: url('logo.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: peachpuff;
  width: 80%;
  margin: auto;
  height: 100px;
}
.sessionlink {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.sessionlink a {
  padding: 10px;
}
a {
  text-decoration: none;
  color: salmon;
}
a div:hover {
  background-color: salmon;
  color: cyan;
}
nav a:hover {
  text-transform: uppercase;
  color: cyan;
}
#error_explanation {
  margin: auto;
}
.field_with_errors {
  margin: auto;
  width: 40%;
}
.cheetah {
  filter: invert(100%);
}
#timestamps {
  font-size: 10px;
  margin: 0;
}
.profilepost h3 {
  margin-bottom: 0;
  font-size: 20px;
}
