// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentform {
  width: 90%;
  margin: auto;
}
.commentform input {
  width: 100%;
}
.commentform textarea {
  height: 100px;
  width: 100%;
  resize: none;
}
