// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.newpostbox {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  background-color: mistyrose;
}
.newpostbox input {
  width: 40%;
}
.newpostbox textarea {
  resize: none;
  width: 40%;
  height: 200px;
}
.profileposts {
  width: 80%;
  margin: 10px auto;
  text-align: left;
  background-color: mistyrose;
  min-height: 300px;
  padding: 5px 0;
}
.profileposts h2 {
  padding-left: 20px;
  padding-top: 10px;
}
.profilepost {
  width: 90%;
  background-color: pink;
  margin: 5px auto;
  text-align: center;
  padding: 10px 0;
  color: antiquewhite;
}
.about {
  width: 80%;
  padding: 10px 0;
  margin: auto;
  background-color: mistyrose;
  color: pink;
}
